#header {
  position: absolute;
  height: 12%;
  width: 100%;
  background-color: white;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#headerText{
  color: black;
  position: relative;
  text-align: left;
  align-self: center;
}

#headerImage {
  resize: vertical;
  height: 100%;
  width: auto;
  position: relative;
}


